@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.ReactCreditCard.ReactCreditCard--dankort .ReactCreditCard__front,
.ReactCreditCard.ReactCreditCard--dankort .ReactCreditCard__back {
  background: #0055c7;
}

.ReactCreditCard.ReactCreditCard--discover .ReactCreditCard__front,
.ReactCreditCard.ReactCreditCard--discover .ReactCreditCard__back {
  background: #86b8cf;
}

.ReactCreditCard.ReactCreditCard--mastercard .ReactCreditCard__front,
.ReactCreditCard.ReactCreditCard--mastercard .ReactCreditCard__back {
  background: #f66009;
}

.ReactCreditCard.ReactCreditCard--visa .ReactCreditCard__front,
.ReactCreditCard.ReactCreditCard--visa .ReactCreditCard__back {
  background: #1a1199;
}

.ReactCreditCard.ReactCreditCard--amex .ReactCreditCard__front,
.ReactCreditCard.ReactCreditCard--amex .ReactCreditCard__back {
  background-color: #108168;
}

.Toastify__toast-container--top-center {
  top: 8%;
}
