@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap');

@import "@comeon/react-credit-card/dist/react-credit-card.css";

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body {
  font-family: "Lexend Deca", sans-serif;
}
